address {
  font-style: normal;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header {
  /* вся шапка */
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  height: 293px;
  font-size: 18px;
  text-decoration-skip-ink: none;
}

.header__menu {
  /* контейнер навигации */
  display: flex;
  align-items: flex-start;
}

.header__links-list {
  /* список ссылок */
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
}

.header__link_active {
  /*  активная ссылка без кружочка */
  list-style: none;
  text-decoration: none;
}

.header__links-list-item {
  /*каждый пункт в списке */
}

.header__logo-image {
  display: block;
  width: 138px;
}

.header__link /*.lots_link*/ {
  /* навигация и адрес + посмотреть больше под лотами*/
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000;
}

.address {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 24.3px;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
}

.cover {
  /* вся 1 секция */
  background-image: url(/images/cover.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  min-height: 757px;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6); */
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
}

.cover__title {
  /* заголовок 1 секции */
  display: flex;
  flex-direction: column;
  letter-spacing: 0.3em;
  padding: 165px 50px 50px 50px;
  font-size: 100px;
  row-gap: 21px;
  position: relative;
  z-index: 1;
}

.aligned_text {
  /* 3 слова - оно тебе надо */
  /* для превращения строк заголовка в блочный элемент */
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  line-height: 115%;
}

.aligned_text_center {
  /* классы для выравнивания строк текста */
  text-align: center;
  padding-left: 30px;
}

.aligned_text_right {
  /* классы для выравнивания строк текста */
  text-align: right;
  margin-right: -30px;
}

.cover__description {
  /* контейнер для подзаголовка и кнопки */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 78px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  margin: 55px 50px 50px 50px;
  height: 51px;
}

.cover__description-text {
  /* текст подзаголовка */
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  word-spacing: 19px;
  line-height: 28px;
}

.bet-button {
  /* кнопка - сделать ставку*/
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: transparent;
  padding: 12px 31px 11px 32px;
}

.lots {
  /* вся секция */
  margin: 180px 24px 24px;
  height: 723px;
}

.lots__heading {
  /* оглавление отдела карточек и about*/
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding-left: 40px;
}

.lots__card-list {
  /* список карточек */
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 25px;
  position: relative;
  z-index: 1;
  padding-top: 27px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.lots__card-list-item {
  /* пункт списка карточек */
  height: 596px;
  width: 334px;
}

.card-link {
  /* ссылка, обрамляющая карточку */
  height: 100%;
  text-decoration: none;
}

.card {
  /* карточка */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card_type_film {
  /* для фона карточек */
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  /* для фона карточек */
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  /* для фона карточек */
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.card__title {
  /* заголовок карточки*/
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  position: relative;
  z-index: 1;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  padding: 48px 40px 40px;
}

/* текст карточек и текст about */
.card__text /*.about_text  */ {
  /* текст карточки */
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  z-index: 1;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  line-height: 120%;
}

.lots__look-more-link {
  /* ссылка «Посмотреть больше» */
  margin-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-decoration: underline;
}

.about {
  /* вся секция */
  display: grid;
  grid-template-columns: 312px auto;
  margin-right: 24px;
  margin-top: 118px;
  margin-bottom: 180px;
  padding-left: 71px;
  padding-top: 35px;
  height: 595px;
  width: 1052px;
}

.about__column {
  /* класс для колонок */
}

.about__logo {
  /* контейнер с логотипом */
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  /* изображение логотипа */
  width: 148px;
  height: 114px;
}

.about__title {
  /* заголовок секции */
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding-top: 101px;
}

.about__text {
  margin-top: 100px;
  width: 693px;
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.about__text-text {
  /* блок для текстов (параграфов) секции */
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  /* подвал */
  width: 1100px;
  height: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 50px;
  padding-left: 50px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  text-decoration-skip-ink: none;
}

.address__footer {
  width: 264px;
  height: 98px;
}
.footer__menu {
  /* блок навигации по списку ссылок */
}

.footer__menu-list {
  /*  список пунктов меню */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__menu-list-item {
  /* пункт списка меню */
}

.footer__menu-link {
  /* каждая ссылка в пункте списка */
}

.footer__menu-link_active {
  /* выбранная ссылка меню (без подчёркивания) */
}

.footer__social-list {
  /* cписок ссылок на социальные сети */
  justify-content: end;
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  /* пункт списка ссылок на социальные сети */
}

.footer__social-link {
  /* ссылка на социальные сети */
}

.footer__social-icon {
  /* иконка социальной сети */
  height: 48px;
}
